@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Bellota Text", cursive;
}
body{
  background-color: #faf8f0;
}
.Encabezado{
  padding:10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.division{
  padding-right: 10px;
}
.Paginas{
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-top: 5px;
}
.inicio{
  width: 30px;
  height:30px;
  margin-left:5px;
  margin-right: 5px;
}
.inicio2{
  width: 25px;
  height:25px;
  margin:5px;
}
.FotoInicio{
  margin:5%;
  width:90%;
  height:90vh;
  background-image: url("./FotoInicio.jpg");
  background-size:1100px;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
  
 
}
.subtitulojoyeria2{
  position: absolute;
  bottom: 20%;
  left:15px;
  color:antiquewhite;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
}
.tituloJoyeria{
position: absolute;
bottom: 12%;
left:15px;
color:rgb(19, 18, 17);
text-shadow: 2px 2px 2px whitesmoke;
font-size: 30px;
}
.subtitulojoyeria{
  position: absolute;
  bottom: 5%;
  left:15px;
  color:antiquewhite;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
}
.carrito{
  width: 30px;
  height:30px;
}
span{
  position:absolute;
  
}
.cerrar{
  width: 30px;
  height:30px;
}
.login{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url("./FotoInicio.jpg") ;
  background-position: center;
  background-size: 1300px;
  background-repeat: no-repeat;
}
  
.loginForm{
  border:solid grey;
  width:65%;
  height:400px;
  border-radius:15px;
  margin-top:50px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: stretch;
  background-color: #faf8f0a3;
  
}
.ejemplo{
 
  background-color:rgba(0, 157, 255, 0.797);
  height:25%;
  margin:10px;
  border-radius:10px;
  
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: stretch;
}
.in{
  color:rgb(2, 2, 65);
  font-size:15px;
  margin-top:5px;
  margin-left: 10px;
}
.ingreso{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left:10px;
  margin-right: 10px;
  font-size: 12px;
  margin-top:5px;
  position: relative;
  
}
.input{
  height: 50%;
  position:relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: stretch;

}
input{
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  width: 70%;
}
.botonLogin{
 width: 90%;
 align-self: center;
 border-radius: 5px;
 background-color: rgb(19, 18, 17);
 color: #faf8f0;

}
.ojo{
  width: 15px;
  height: 15px;
  border:none;
  position: absolute;
  right: 5px;
  top:20%;
  

}
.shop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buscar{
  margin-left: 10px;
  border:solid 0.5px grey;
  width: 50px;
  background-color: transparent;
  
}
.buscarProducto{
  height: 30px;
  width: 50%;
  align-self: center;
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}
#producto{
  width: 300px;
  background-color: transparent;
 
}
ul{
  
  display: flex;
  flex-direction: column;
  align-content: center;
  border-top: solid 1px gray;
  margin-top: 10px;
}
.Link{
  text-decoration: none;
  width:75vw;
  height:350px;
  text-align: center;

}
.tarjeta{
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.imagen{
  height:80%;
}
.imagenId{
  width: 50%;
  height: 50%;
}
h1{
  font-size: 15px;
  color: black;
  text-align: center;
  
}
h2{
  font-size: 10px;
}
p{
  font-size: 10px;
  color: black;
  
}
.botones{
  
  width:80%;
  height:30px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  
}
.boton{
  border: none;
  border-left: solid 0.5px grey;
  background-color: transparent;
  padding-left: 10px;
  margin-right: 5px;
}
.Cargando{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(128, 128, 128, 0.63);
  z-index: 9999;
}
#contenedor{
  position: fixed;
  top:50%;
  left:50%;
  z-index: 9999;
  
}
.loader {
  font-size: 20px;
  margin: 45% auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top:0;
  left:0;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
.Noexiste{
  position: fixed;
  top:50%;
  left:30%;

}
.tarjetaInd{
  display: flex;
  flex-direction: row;
}

.sumres{
  width:25px;
  margin:5px;
}
.info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.shop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Carrito{
  width: 100%;
  margin:0;
}
.Car{
display:flex;
flex-direction:column;
margin-top:100px;
}
.tarjetasCar{
  width:100%;
  height:120px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  position:relative;
  border-top:1px solid gray;
  padding-top:5px;
  padding-bottom:5px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}
.botonX{
  position:absolute;
  top:10px;
  left:0;
  background-color:transparent;
  border:none;
  background-image:url("./cesto.png");
  background-size:cover;
  background-repeat:no-repeat;
  width:15px;
  height:15px;
}
.cant{
  width:30px;
  text-align:center;
}
.cant::placeholder{
  font-weight:500;
  color:black;
}
.comprar{

  width:100%;
 display:flex;
 justify-content:space-around;

}